@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Cinema Tickets</h1>
        <p class="lead">Hello and welcom to our cinema. Here you can purchase tickets for any movie we show!</p>
        <hr class="my-4">
        <p>Check out our movies.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/Movie" role="button">Movies</a>
        </p>
    </div>
</div>
