@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ul>
        <li>vidi dali treba nesto pri kupuvanje da se pravi so plakanje</li>
        <li>email za kupenan naracka</li>
        <li>admin da pravi export na site bileti vo xlsx</li>
        <li>admin da moze da pravi import na korisnicii so excel, vo excel se vnesuva spored email, pass i role</li>

        <li>ako ostane vreme sredi homepage da moze da se klika na film so available screanings za nego i da se dodade vo kosnicka</li>
    </ul>
</div>
